graft docs
graft rstparser
graft tests

include .travis.yml
include .coveragerc

include MANIFEST
include Makefile
include tox.ini
include README.rst
include runtests.py
include *.txt
include *.rst
include *.in

global-exclude *.py[co] __pycache__ .DS_Store
